@charset "utf-8";

@import url("font.css");
@import url("table.css");
@import url("btn.css");

@import url("http://image.enex.co.kr/global/font/NotoKR-Bold/stylesheet.css");
@import url("http://image.enex.co.kr/global/font/NotoKR-Regular/stylesheet.css");
@import url("http://image.enex.co.kr/global/font/NotoKR-Thin/stylesheet.css");

*::-webkit-scrollbar { width: 0 !important; }

/* Reset */
*{margin:0;padding:0;}
body { width: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;  }
html,body{width:100%;height:100%;}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{ font-family: notokr-regular, '맑은 고딕', 'AppleSDGothic','Nanum Barun Gothic','MalgunGothic','NanumGothic','AppleGothic','Verdana','돋움','Dotum','Arial',sans-serif; font-size:12px;color:#666;}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle;}
select{margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;text-align: start;}
optgroup {font-family: notokr-bold;}
img{vertical-align:middle;}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:none;}
button *{position:relative}
legend,hr{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
caption{visibility:hidden;overflow:hidden;top:0;width:0;height:0;font-size:0;line-height:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0;}
table caption{display:none;}
img {max-width:100%;}
.naviArea ul:first-child { display: none; }

/* #memSec td:last-child { display: none; } */

/* 레이아웃 */
#wrap {position:relative; width:100%; height:100%;}
#globalHeader {position:relative; width:100%; height:41px;}
#globalHeader .globalArea {position:relative; width:100%; height:40px; text-align:center !important; margin:10px 0; border-bottom: 1px solid #e92f33;}
.globalArea img {width:80px;}
.globalArea .btnMenu {position:absolute; left:10px; top:3px; width:24px;}
.globalArea .btnUsr {position:absolute; right:10px; top:3px; width:24px;}
.globalArea .btnMenu, .globalArea .btnUsr img {width:24px;}
.brandMenu {float:left; margin-left:23px;}
.brandMenu li {float:left;}
.brandMenu li a {display:block; margin:0px; padding:0 12px 0 12px; line-height:36px;}
.brandMenu li a:hover {display:block; border-top:4px solid #e92f33; line-height:28px;}
.brandMenu li.on a {border-top:4px solid #e92f33; line-height:28px;}
.utilMenu {float:right; margin-right:35px; margin-top:11px;}
.utilMenu li {float:left; margin-right:8px; padding-right:9px; background:url(/images/global/pix_util.gif) no-repeat right 6px; }
.utilMenu li:last-child {background:none; margin-right:0; padding-right:0;}

#homeHeader .naviArea { clear:both; position:relative; width:100%; overflow:hidden; text-align:center;/*  margin-top:20px;  */color:#393939; font-size:12px; letter-spacing:-1.5px; height:auto;} 
.naviArea li a { height: 16px; line-height: 16px; color: gray; }
.naviArea li {display:inline-block; padding:5px 5px 0 5px; font-family: notokr-regular, '맑은 고딕', 'AppleSDGothic'; line-height: 16px; margin-top:2px; }
.naviArea li:last-child { margin-top: 0;}
.naviArea li img { height: 14px; margin-bottom: 2px; }

#homeHeader .mSearchArea {margin-top:0px; position:relative; width:100%; height:41px; background:transparent; }
#searchForm { width: 100%; height:100%; margin: 5px 0; border: none; text-align:center;/*  border-bottom: 1px solid #e9e9e9; */}
#sWord {height: 24px; appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
   }
.mSearchArea .btnSearch {position:absolute; right:3%; top:6px;}
.btnSearch img {width:24px;}
.mSearchArea .searchSel {position:absolute; left:3%; top:8px; z-index:999;}

#globalFooter {clear:both; position:relative; width:100%; height:auto; border-bottom: 1px solid #dcdcdc; margin-bottom: 30px; background: #eeeeee; padding: 0; }
.btmArea {position:relative; width:100%; height:42px; background:transparent;/*  border-top: 1px solid #dcdcdc; */ }
.btmArea .btmSec {width:100%; height:42px; margin:0 auto;}
.btm {float:left;  width: 100%; background: transparent; }
.btm table { width: 100%; }
.btm table td { text-align: center; height: 40px; border: 1px solid #dcdcdc;}
.btm table td:first-child { border-left: none; }
.btm table td:last-child { border-right: none; }
.btm table td * {  color: gray; }
.btm li {float:left; margin-right:13px; padding-right:15px; background:url(/images/global/pix_util.gif) no-repeat right 4px; }
.btm li:last-child {background:none;}
.btm li img { height: 12px; }
.familyMenu {float:right; padding-top:6px;}
.familyMenu .familysite {width:160px; height:28px; background:white; border:1px solid #bebebe; padding:5px; font-size:12px;}

.copyArea {clear:both; position:relative; width:90%; height:auto; background:#eeeeee; padding: 5%;}
.gloLogo { font-size: 15px; font-family: notokr-bold; }
.copyinfo p { padding-top: 4px;  font-size: 10px;}
/*
.copyArea .copySec {width:100%; height:42px; margin:0 auto;}
.gloLogo {float:left; padding-top:20px; margin-right:20px;  }
.gloLogo img { width: 103px; height: 30px; }
.copyinfo {float:left; padding-top:20px; padding-left: 48px; }
.copyinfo p {padding-top:10px;}
.inipay {float:right; padding-top:20px;}
.inipay img { width: 312px; height: 69px; }
*/

.certiArea {clear:both; width:100%; height:55px; margin:0 auto; padding-top:0px;    }
.certiArea img { width: 100%;}

.btnView a {display:inline-block; padding:4px 12px; /* border:2px solid #bdbdbd; */ color:#393939; font-size:9px; line-height:20px; /* border-radius:30px; */}
.btnView a:hover {/* border:2px solid #e1103c; */ color:#e1103c;}


/* 공통 검색결과 */
.isResult {clear:both; position:relative; height:auto; overflow:hidden; margin:30px 0;}
.isResult .iconSearch {float:left; width:40px; margin-top:10px;}
.isResult .searchTitle {font-size:18px; color:#2f2f2f; letter-spacing:-1px; margin-bottom:2px;}
.isResult .searchSub {font-size:14px; color:#2f2f2f; letter-spacing:-1px;}

/* tabSearch */
.tabSearch {clear:both; position:relative; height:48px; border-bottom:1px solid #c3c3c3; margin-bottom:35px; margin-top:60px;}
.tabSearch li {float:left; width:100px; height:48px; text-align:center; font-size:14px; letter-spacing:-1px; line-height:48px; margin-top:0px;}
.tabSearch li a {display:block; color:#acacac;}
.tabSearch li a:hover {border-left:1px solid #c3c3c3; border-top:1px solid #c3c3c3; border-right:1px solid #c3c3c3; border-bottom:1px solid #FFF; margin-top:-1px; color:#393939;}
.tabSearch li.on a {border-left:1px solid #c3c3c3; border-top:1px solid #c3c3c3; border-right:1px solid #c3c3c3; border-bottom:1px solid #FFF; margin-top:-1px; color:#393939;}

.resultBox {clear:both; position:relative; height:auto; overflow:hidden; margin-bottom:30px;}
.resultBox h2 {font-size:18px; color:#393939; position:relative; display:block; margin-bottom:20px;}
.resultMore {position:absolute; right:0; top:0; padding:5px 10px; font-size:14px; color:#393939; border:1px solid #393939;}
.resultMore a {display:block;}

.isarticleBox {clear:both; position:relative; width:100%;}
.isarticleBox table {clear:both; padding:0; margin-bottom:48px; width:100%;}
.isarticleBox th {border-top:1px solid #393939; border-bottom:1px solid #e6e7e7; color:#393939; font-size:14px; padding:18px;}
.isarticleBox td {border-bottom:1px solid #e6e7e7; color:#393939; font-size:13px; padding:23px; text-align:center;}
.isarticleBox td.tdLeft {text-align:left;}
.isbbsRep {font-size:12px; color:#cacaca;}

.ismediaSec {clear:both; position:relative; height:auto; overflow:hidden; margin-bottom:48px; border-top:1px solid #393939; padding-top:20px;}
.ismediaSec ul {clear:both;}
.ismediaSec li {display:block; height:auto; overflow:hidden; margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #bebebe;}
.ismediaArticle {position:relative;}
.ismediaArticle .istxtSec {float:left; position:relative; width:650px; margin-right:10px;}
.istxtSec p {margin-left:0; min-height:15px;}
.istxtSec p.ismTitle {padding:5px 0 10px 40px; color:#393939; font-size:16px;}
.istxtSec p.isconTitle {padding:0px 0 10px 40px; color:#a6a6a6; font-size:12px;}
.ismediaArticle .isimgSec_h_media {float:left; position:relative; /* width:605px; min-height:285px; */ width:188px; height:113px; background:#f9dba4;}
.ismediaArticle .isimgSec_h_media img {width:188px; height:113px;}


.resultTitle {display:block; padding:30px 0; color:#393939; font-size:16px; font-weight:bold;}
.sortingTable {clear:both; position:relative; border-top:1px solid #393939; border-bottom:1px solid #e6e7e7; padding:17px 0; font-size:14px; margin-bottom:30px;}
.sortingTable img {vertical-align:-5px;}
.sortingSelect {position:absolute; right:0; top:17px;}
.sortingSelect select {border:1px solid #393939; background:#FFF; padding:5px; font-size:14px; font-family: notokr-regular;}

.maL20 {margin-left:20px;}


/* comTitleArea */
.comTitleArea {position:relative; height:110px; overflow:hidden;}
.comTitleArea h2.orderLogic {position:relative; height:82px; line-height:82px; margin-left:30px; background:url(http://image.enex.co.kr/images/mall/icon_cart.png) no-repeat left 8px; padding-left:85px; font-size:30px; letter-spacing:-1px; color:#363636;}
.comTitleArea h2.myPage {position:relative; height:62px; line-height:22px; padding-top:20px; margin-left:10px; background:url(http://image.enex.co.kr/images/mall/dot_red01.gif) no-repeat left center; padding-left:20px; font-size:24px; letter-spacing:-1px; color:#363636;}
.comTitleArea h2.myPage p {padding-top:5px; margin:0; color:#999999; height:20px; font-size:13px;}
.comTitleRight {position:absolute; right:35px; top:25px;}

/* myPage */
.welcome {background:url(http://image.enex.co.kr/images/mall/icon_my.png) no-repeat left center; padding-left:35px; font-size:16px; color:#393939; letter-spacing:-1px;}

.mpTab {clear:both; position:relative; border-top:2px solid #393939; overflow:hidden; height:50px;}
.mpTab li {float:left; width:199.8px; height:47px;}
.mpTab li a {display:block; color:#acacac; border-left:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; background:#f2f2f2; text-align:center; font-size:17px; line-height:47px;}
.mpTab li a:hover {border-left:1px solid #c3c3c3; border-bottom:1px solid #FFF; background:#FFF; color:#393939;}
.mpTab li.on a{border-left:1px solid #c3c3c3; border-bottom:1px solid #FFF; background:#FFF; color:#393939;}
.mpTab li:last-child {border-right:1px solid #c3c3c3;}

.myStats {clear:both; position:relative; height:auto; overflow:hidden; border-bottom:1px solid #ccc;}
.myStats li {float:left; width:250px; height:65px; background:url(http://image.enex.co.kr/images/mall/line_stats.gif) no-repeat right center; margin-top:40px; margin-bottom:40px;}
.myStats li:last-child {background:none;}
.msBox {margin-left:30px; width:220px; height:auto; overflow:hidden; margin-top:10px; height:55px;}
.bgCart {background:url(http://image.enex.co.kr/images/mall/myicon_cart.png) no-repeat left top;}
.bgDelivery {background:url(http://image.enex.co.kr/images/mall/myicon_delivery.png) no-repeat left top;}
.bgCoupon {background:url(http://image.enex.co.kr/images/mall/myicon_coupon.png) no-repeat left top;}
.bgPoint {background:url(http://image.enex.co.kr/images/mall/myicon_point.png) no-repeat left top;}
.msBox  p.msTitle {font-size:13px; color:#393939; letter-spacing:-1px; margin-bottom:5px; margin-left:85px; margin-top:5px;}
.msBox  p.numbering {font-size:16px; color:#393939; letter-spacing:-1px; margin-left:85px; font-family: notokr-bold, 'Nanum Barun Gothic';}
.stNumber {font-size:24px;}

.myStatsBox {clear:both; width:100%; height:auto; overflow:hidden; margin-top:20px;}
.myStatsBox .myLeft {float:left; width:200px; height:auto; overflow:hidden; margin-right:29px; margin-bottom:50px;}
.myStatsBox .myTable {float:right; width:770px; height:auto; overflow:hidden;}

.myLeft .myLeftMenu {position:relative;}
.myLeftMenu li {display:block; height:54px; line-height:54px; letter-spacing:-1px; letter-spacing:-1px; background:#efefef; color:#393939; margin-bottom:1px; font-size:16px;}
.myLeftMenu li a {display:block; padding-left:35px;}
.myLeftMenu li a:hover {background:#757575 url(http://image.enex.co.kr/images/mall/ar_right_m.png) no-repeat 175px center; color:#FFF;}
.myLeftMenu li.on a {background:#757575 url(http://image.enex.co.kr/images/mall/ar_right_m.png) no-repeat 175px center; color:#FFF;}
.myLeft .myBnr {border:1px solid #dddddd; text-align:center; width:198px; height:178px;}

.myTable h2 {display:block; color:#393939; font-size:18px; letter-spacing:-1px; margin:10px 0 24px 0; padding-left:5px;}
/*.myTable h2 {display:block; color:#393939; font-size:18px; letter-spacing:-1px; margin:10px 0 24px 0; background:url(http://image.enex.co.kr/images/mall/dot_red.gif) repeat-y left center; padding-left:15px;}*/
.overTd {position:relative;}
.acView {clear:both; padding:20px; position:relative; border-bottom:1px solid #333; height:auto; overflow:hidden;}
.borderBtm {padding-bottom:25px; border-bottom:1px solid #393939;}


/* mypage New */
.mypageBox {clear:both; width:100%; height:auto; overflow:hidden; position:relative; min-height:100px; margin:0 auto; margin-top: 20px; }
.mypageBox h2 {border-bottom:1px solid #393939; font-size:1.3em; padding-left:5px; padding-bottom:18px; margin-bottom:18px; font-weight: bold;}
.mypageBox .combbsList {position:relative; clear:both;}
.mypageBox .combbsList li {/* display:block; */ border-bottom:1px solid #e3e3e3; padding-bottom:20px; margin-bottom:20px; height:auto; overflow:hidden;}

.combbsList .lineBbsBox {display:block; width:96%; margin:0 auto;}
.lineBbsBox .bbsTitleArea {float:left; width:79%; font-weight:bold; color:#393939; font-size:1.2em; text-align: left; letter-spacing: -1px;}
.lineBbsBox .bbsDateArea {float:left; width:20%; color:#868686; font-size:1.1em; text-align:right;}

.combbsList .thumbBbsBox {display:block; width:96%; margin:0 auto;}
.thumbBbsBox .thumbArea {float:left; width:25%; height:auto; background:#ccc; text-align:center; margin-right:5%;}
.thumbArea img {max-width:100%;}
.thumbBbsBox .bbsTitleArea {float:left; width:70%; height:50px; font-weight:bold; color:#393939; font-size:1.5em;}
.thumbBbsBox .bbsDateArea {float:left; width:70%;  color:#868686; font-size:1.3em; position:relative;}
.bbsDateArea .bbsWriter {position:absolute; right:0; top:0;}

.mypageBox .combbsView {position:relative; clear:both; height:auto; overflow:hidden; border-bottom:1px solid #e3e3e3; padding-bottom:20px;}
.mypageBox h2 {display:none;}
.combbsView .subjectArea {display:block; position:relative; width:100%; margin:0 auto; font-weight:bold; color:#393939; font-size:1.3em; padding-left:5px;padding-bottom:15px; margin-bottom:15px; border-bottom: 1px solid #e9e9e9;}
.subjectArea .wDate {/* position:absolute; right:0; top:0; */float: right; color:#868686; font-size:0.7em; font-weight:normal;padding-right:10px;}
.combbsView .bbsConArea {clear:both; position:relative; width:96%; margin:0 auto; font-size:1.2em; color:#393939;min-height: 150px;}
.myMlist a {display:block; width:90%; border:1px solid #c5c5c5; padding:10px; margin:0 auto; font-size:1.3em; color:#393939; background:url(http://image.enex.co.kr/images/home/m/ar_mypage.png) no-repeat 95% center; margin-bottom:10px;}

.myBtnArea {clear:both; width:96%; margin:0 auto; padding-top:15px;}
.myBtnNormal a {display:inline-block; padding:15px 35px; border:1px solid #c5c5c5; font-size:1.5em; color:#b5b5b5;}
.myBtnNormal a:hover {display:block; border:1px solid #ec1b30; color:#ec1b30;}


/* 게시판이미지 */
.viewTable img {/* max-width: 600px; */margin-bottom:20px;}

#homeHeader {position:relative; width:100%; height:auto; margin:0 auto;/*  margin-bottom: 15px;   */}
#homeHeader .logo {width:145px; height:auto; text-align:right; margin-top:32px;}
.mSearchArea .searchSel {position:absolute; left:4px; top:4px; z-index:999;}



.hintid {background:url(http://image.enex.co.kr/images/mall/hint_id.gif) no-repeat left 50%;}
.hintpw {background:url(http://image.enex.co.kr/images/mall/hint_pass.gif) no-repeat left 50%;}
.hintname {background:url(http://image.enex.co.kr/images/mall/hint_name.gif) no-repeat left 50%;}
.hintmail {background:url(http://image.enex.co.kr/images/mall/hint_mail.gif) no-repeat left 50%;}



.alignRight { text-align: right; }
.alignLeft { text-align: left; }

/* 사이트맵 타이틀 */

.form_sitemap {margin-top: 50px; padding: 0 0%;}
.sitemap_menu { float:left; width:33%; height:250px; border-bottom: 1px solid #e9e9e9; margin-bottom: 50px;}
.sitemap_menu ul, .sitemap_menu h3 { margin-left: 10px; }
.sitemap_menu ul li {margin-top:15px;}
#sitemap_sub_title {font-size: 12px;}
#sitemap_main_title {font-size: 22px; letter-spacing: -1px; color: #393939; font-family: font-family: "notokr-bold", '맑은 고딕', 'AppleSDGothic','Nanum Barun Gothic','MalgunGothic','NanumGothic','AppleGothic','Verdana','돋움','Dotum','Arial',sans-serif !important;}
#sitemap_sub_title {font-size: 18px; margin-top: 7px;}
.sitemap_menu h3 {font-size: 18px;}
.sitemap_menu ul li {list-style: circle; margin-left: 20px;}
#title_wraper {/* border-bottom: 1px solid #9f9f9f;  */border-top: 1px solid black; padding: 20px 30px; background-color: #f6f6f6; }

.tabSearch { overflow-x: scroll; overflow-y: hidden;  -webkit-overflow-scrolling: touch; width: 100%; height: auto; }
.tabSearch ul { width: 3000%; max-width: 3000% !important;}





.method-wrap .method {background-position:center center;background-repeat:no-repeat;height:100%;width:100%;margin:0;position:relative;z-index:10;}
.method-wrap .method .cont { color:#373737; font-family:dotum; font-size:12px;text-align:center; position:absolute;top:105px;left:0;width:100%;z-index:11;}

#certPopLayer { display:none; position:absolute; left:0px; top:0px;  z-index:110; }
#certPopLayer #certFrameLayer { position:absolute; z-index:110; top:180px !important;}
#certPopLayer #certFrameLayer #certFrame { width:100%; height:100%; }
#certPopLayer #certPopLayerBG { background:#000; opacity:.70; filter:alpha(opacity=70); height:500px; left:0px; position:absolute; top:0px; width:500px; z-index:100; }







/* 2017 personal 페이지 모바일 css 수정 */
.c1_personal_txtarea{}